*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.blender{
    /* border: 1px solid black; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
    /* background-color: red; */
    background-image: url("../img/apagado2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.blender.active{
    width: 300px;
    background-image: url("../img/encendidoGif.gif");
}
/* .blender.active .blender-button{
    margin: 410px auto 0px;
} */

.blender-button{
    margin: 355px auto 0px;
    width: 70px;
    height: 70px;
    /* background-color: blue; */
}